<div class="sharing-token" *ngIf="sharingToken">
    <p>{{sharingToken}}</p>
</div>
<div class="workflow-card">
  <div class="workflow-card-content">
    <div class="workflow-info">
      <div class="workflow-title">{{workflow.name}}</div>
      <div class="workflow-url">
        <span>URL:</span>
        <a href="{{workflow.startUrl}}" target="_blank">{{workflow.startUrl.slice(0, 50)}}...</a>
      </div>
      <div class="workflow-status">
        <span>Status:</span>
        <span class="status-badge {{workflow.status}}">{{workflow.status}}</span>
      </div>
    </div>
    <div class="workflow-actions">
      <button class="button small primary" (click)="executeWorkflow()" *ngIf="workflow.status !== 'in_progress'">
        <i class="pi pi-play-circle"></i>
        Start
      </button>
      <button class="button small secondary" (click)="openWorkflowProgress()" *ngIf="workflow.status === 'in_progress' else done">
        <i class="pi pi-chart-line"></i>
        Progress
      </button>
      <ng-template #done>
        <button class="button small secondary" (click)="openWorkflowProgress()">
          <i class="pi pi-chart-bar"></i>
          Results
        </button>
      </ng-template>

      <div class="actions-menu-container">
        <button class="menu-button" (click)="toggleMenu($event)">
          <i class="pi pi-ellipsis-h"></i>
        </button>

        <div class="dropdown-menu" [class.show]="menuOpen">
          <button class="dropdown-item text-info" (click)="editWorkflow()" [disabled]="permissionsLevel < 1">
            <i class="pi pi-pencil"></i>
            Edit
          </button>
          <div class="menu-divider"></div>
          <button class="dropdown-item" (click)="openSharePopup()" [disabled]="permissionsLevel < 3">
            <i class="pi pi-share-alt"></i>
            Share
          </button>
          <div class="menu-divider"></div>
          <button class="dropdown-item danger" (click)="deleteWorkflow()" [disabled]="permissionsLevel < 2">
            <i class="pi pi-trash"></i>
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-share-popup [workflowId]="workflow.id!"></app-share-popup>