<div class="new-task-container container py-5">
  <div class="header">
    <h2 class="page-title">Create New Scraping Workflow</h2>
    <a class="action-btn secondary" routerLink='/'>Cancel</a>
  </div>
  <div class="step-container">
    <div class="step-header">
      <div class="step" [ngClass]="{'active': currentStep === 1, 'completed': currentStep > 1}">
        <span class="step-number">1</span>
        <span class="step-label">Enter Start URL</span>
      </div>
      <div class="step-divider"></div>
      <div class="step" [ngClass]="{'active': currentStep === 2, 'completed': currentStep > 2}">
        <span class="step-number">2</span>
        <span class="step-label">Select DOM Elements</span>
      </div>
      <div class="step-divider"></div>
      <div class="step" [ngClass]="{'active': currentStep === 3}">
        <span class="step-number">3</span>
        <span class="step-label">Configure Workflow</span>
      </div>
    </div>
    <div class="step-content">
      <div *ngIf="currentStep === 1" class="step-section">
        <app-url-input-form (urlSubmitted)="onUrlSubmitted($event)"></app-url-input-form>
      </div>
      <div *ngIf="currentStep === 2" class="step-section">
        <app-visual-selector-tool [initialized_workflow]="workflow" (workflow)="onWorkflowCompleted($event)"></app-visual-selector-tool>
      </div>
      <div *ngIf="currentStep === 3" class="step-section">
        <app-task-config-form [workflow]="workflow" (workflowSubmitted)="onworkflowSubmitted($event)"></app-task-config-form>
    </div>
    </div>
  </div>
</div>